img {
    border-radius: 0.5rem;
}
img.medium {
    max-width: 29rem;
    width: 100%;
    object-fit: cover;
}
img.larger {
  width: 100%;
}
  
/* Card */
.card {
    border: .1rem #c0c0c0 solid;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin: 1rem;
}
.card-body {
    padding: 1rem;
  }
  .card-body > * {
    margin-bottom: 0.5rem;
  }
  .price {
    font-size: 2rem;
  }
  /* Rating */
  .rating span {
    color: #f0c040;
    margin: 0.1rem;
  }

  .rating span:last-child{
    color:#404040;
  }
